@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(245deg, #932edf, #452edf, #c92edf, #2e7cdf);
    background-size: 800% 800%;

    -webkit-animation: MainCSS 14s ease infinite;
    -moz-animation: MainCSS 14s ease infinite;
    -o-animation: MainCSS 14s ease infinite;
    animation: MainCSS 14s ease infinite;
}

@-webkit-keyframes MainCSS {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes MainCSS {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes MainCSS {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes MainCSS {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#container {
        position: absolute;
        left: 50%;
        top: 50%;
        text-align: center;
        transform: translate(-50%,-50%);
        width: 100%;
}

.mainpealkiri {
        display: block;
        color:white;
        position: relative;
        text-shadow: 4px 4px rgb(55, 52, 52);
        font-size: 80px;
}

a {
        color: white;
        background-color: rgb(44, 42, 42);
        border: 2px solid blueviolet;
        border-radius: 4px;
        padding: 10px 10px;
        text-align: center;
        display: inline-block;
        text-decoration: none;
        list-style-type: none;
        margin: 5px;

}
a:hover, a:active {
        background-color: red;
}